<div class="container section-4">
  <%# @jobs.each_slice(3).to_a.each do |job_list| %>
  <% @jobs.in_groups_of(3).each do |job_list| %>
  <div class="row">
    <% job_list.each do |job| %>
    <div class="col-md-4 my-xs-15 pa-xs-10">
      <div class="border pa-xs-10">
        <div>  
          <h3 class="mb-xs-0"><%= job["JOB"] %></h3>
          <h4 class="mt-xs-5 mb-xs-15"><%= job["JOB_ADDR_NO_DESCRIPT"] %></h4>
          <p><%= job["DESCRIPTION"].gsub("\n", "<br>").html_safe %></p>
          <%= link_to "加入我們", "#{@job_link+job["J"]}", target: '_blank', class: 'btn btn-md btn-default' %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <% end %>
</div>