<% if I18n.locale == :en %>
----EN----
<% @faqs.lang_query('en').each do |f| %>
<div>
  <h3><%= f.question %></h3>
  <div><%= f.answer.html_safe %></div>
</div>
<% end %>
<% else %>
----CH----
<% @faqs.lang_query('zh-TW').each do |f| %>
<div>
  <h3><%= f.question %></h3>
  <div><%= f.answer.html_safe %></div>
</div>
<% end %>
<% end %>