development:
  adapter: postgresql
  encoding: unicode
  database: corp_development
  pool: 5
  username: dchuang
  password: 

test:
  adapter: postgresql
  encoding: unicode
  database: corp_test
  pool: 5
  username: dchuang
  password: 