<div class="container hidden-xs <%= breadcrumbs_wrapper_class %> <%= breadcrumbs_hide %>">
  <div class='col-sm-6 col-sm-offset-6 text-right'>
    <%= render_breadcrumbs separator: '&nbsp/&nbsp&nbsp&nbsp' %>
  </div>
</div>