<div class="side-nav shop-sidebar">
  <div class="sidebar-inner">
    <ul class="sidebar-menu">
      <li class="tittle">
        <span><b><%= t('frontend.nav.categories') %></b></span>
      </li>
      <!-- /tittle -->
      <% @categories.each do |cat| %>
      <li class="dropdown first-level">
        <a href="#/"><%= cat.name %></a>
        <ul class="side-sub-menu">
          <% cat.products.where(public: true).each do |pro| %>
          <li><%= link_to pro.name, product_path(pro.permalink) %></li>
          <% end %>
        </ul>
        <!-- /side-sub-menu -->
      </li>
      <% end %>
      <!-- /dropdown -->
    </ul>
    <!-- /sidebar-menu -->
  </div>
  <!-- /sidebar-inner -->
</div>
<!-- /side-nav -->