<!-- Footer -->
<footer class="bg-dark">
    <div class="container section">
        <div class="col-md-3 col-sm-6">
            <div class="abou-us-widget">
                <img class="img-responsive" src="../images/logo/logo2.png" alt="">
                <p class="mrg-vertical-15">Lorem ipsum dolor sit amet, eiusmod consectetur adipisicing elit, sed do tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis.</p>
            </div>
            <!-- /about-us -->
        </div>
        <!-- /column -->

        <div class="col-md-3 col-sm-6">
            <div class="widget">
                <div class="widget-tittle">
                    <h4>Useful links</h4>
                </div>
                <!-- widget-tittle -->

                <div class="link-widget">
                    <ul>
                        <li><a href="#"><span>-</span> Home</a></li>
                        <li><a href="#"><span>-</span> My Account</a></li>
                        <li><a href="#"><span>-</span> Term &amp; Condition</a></li>
                        <li><a href="#"><span>-</span> Privacy &amp; Policy</a></li>
                        <li><a href="#"><span>-</span> Support Center</a></li>
                    </ul>
                </div>
                <!-- link-widget -->
            </div>
            <!-- /widget -->
        </div>
        <!-- /column -->

        <div class="col-md-3 col-sm-6">
            <div class="widget">
                <div class="widget-tittle">
                    <h4>FLICKR</h4>
                </div>
                <!-- widget-tittle -->

                <div class="flickr-widget">
                    <a href="#" class="col-xs-4  flickr-content">
                        <div class="row">
                            <div class="flickr-img">
                                <img class="img-responsive" src="../images/thumb/1.jpg" alt="">
                            </div>
                            <!-- /flickr-img -->
                            <div class="overlay">
                            </div>
                            <!-- /overlay -->
                        </div>
                        <!-- /row -->
                    </a>
                    <!-- /column -->

                    <a href="#" class="col-xs-4 flickr-content">
                        <div class="row">
                            <div class="flickr-img">
                                <img class="img-responsive" src="../images/thumb/2.jpg" alt="">
                            </div>
                            <!-- /flickr-img -->

                            <div class="overlay">
                            </div>
                            <!-- /overlay -->
                        </div>
                        <!-- /row -->
                    </a>
                    <!-- /column -->

                    <a href="#" class="col-xs-4 flickr-content">
                        <div class="row">
                            <div class="flickr-img">
                                <img class="img-responsive" src="../images/thumb/3.jpg" alt="">
                            </div>
                            <!-- /flickr-img -->
                            <div class="overlay">
                            </div>
                            <!-- /overlay -->
                        </div>
                        <!-- /row -->
                    </a>
                    <!-- /column -->

                    <a href="#" class="col-xs-4 flickr-content">
                        <div class="row">
                            <div class="flickr-img">
                                <img class="img-responsive" src="../images/thumb/4.jpg" alt="">
                            </div>
                            <!-- /flickr-img -->
                            <div class="overlay">
                            </div>
                            <!-- /overlay -->
                        </div>
                        <!-- /row -->
                    </a>
                    <!-- /column -->

                    <a href="#" class="col-xs-4 flickr-content">
                        <div class="row">
                            <div class="flickr-img">
                                <img class="img-responsive" src="../images/thumb/5.jpg" alt="">
                            </div>
                            <!-- /flickr-img -->
                            <div class="overlay">
                            </div>
                            <!-- /overlay -->
                        </div>
                        <!-- /row -->
                    </a>
                    <!-- /column -->

                    <a href="#" class="col-xs-4 flickr-content">
                        <div class="row">
                            <div class="flickr-img">
                                <img class="img-responsive" src="../images/thumb/6.jpg" alt="">
                            </div>
                            <!-- /flickr-img -->
                            <div class="overlay">
                            </div>
                            <!-- /overlay -->
                        </div>
                        <!-- /row -->
                    </a>
                    <!-- /column -->
                    <div class="clearfix">
                    </div>
                </div>
                <!-- /flickr-widget -->
            </div>
            <!-- /widget -->
        </div>
        <!-- /column -->

        <div class="col-md-3 col-sm-6">
            <div class="widget">
                <div class="widget-tittle">
                    <h4>News Letter</h4>
                </div>
                <!-- widget-tittle -->

                <div class="newsletter-widget">
                    <div class="form-group">
                        <input type="email" name="w-newssletter" placeholder="Subscribe">
                        <button type="submit"><i class="fa fa-send-o"></i></button>
                    </div>
                    <!-- /form-group -->
                </div>
                <!-- /link-widget -->
            </div>
            <!-- /widget -->
        </div>
        <!-- /column -->

    </div>
    <!-- /container -->

    <div class="footer-bottom">
        <div class="container">
            <small class="copyright pull-left">© 2015 ALL RIGHT RESERVED. DESIGNED BY <a href="http://themeforest.net/user/theme_nate">Theme_Nate</a>.</small>
            <div class="social-icon pull-right">
                <!-- <a href="#"><i class="fa fa-facebook"></i></a> -->
            </div>
            <!-- /social-icon -->
        </div>
        <!-- /container -->
    </div>
    <!-- footer-bottom -->
</footer>